---
import { METADATA } from 'astrowind:config';

const package_name = METADATA.package.name;
const package_url = METADATA.package.url;
const github_org = METADATA.github.org;
const github_repo = METADATA.github.repo;
const github_url = `https://github.com/${github_org}/${github_repo}`;
const github_star_url = `https://img.shields.io/github/stars/${github_org}/${github_repo}.svg?style=social&label=Stars&maxAge=86400`;

import { fetchPyPIVersion } from '../../utils/custom-utils';

const latestVersion = await fetchPyPIVersion(package_name, package_url);
---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-4 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  {/*
  <a href={package_url} class="text-muted hover:underline dark:text-slate-400 font-medium"
    >{package_name} {latestVersion} is now available! »</a
  >
  */}
  <a href="https://www.itv.com/news/2025-12-03/king-charles-warns-of-ghastly-legacy-for-young-people-if-climate-action-fails" class="animate-bounce hover:underline dark:text-slate-400 font-medium"
    >Watch the Royal Arctic Challenge documentary on ITV which has a section on IceNet!»</a
  >
  <a
    target="_blank"
    rel="noopener"
    class=`ltr:ml-auto rtl:mr-auto w-[5.6rem] h-[1.25rem] ml-auto bg-contain inline-block]`
    style={{ backgroundImage: `url(${github_star_url})`, backgroundRepeat: 'no-repeat' }}
    title="If you like IceNet, give us a star."
    href={github_url}
  >
  </a>
</div>
