---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Team from '~/components/widgets/Team.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'IceNet — AI powered sea-ice forecasting',
  ignoreTitleTemplate: true,
};

import { METADATA } from 'astrowind:config';
import { fetchPyPIDownloadStats, fetchGitHubStats } from '../utils/custom-utils'

const github_org = METADATA.github.org
const github_repo  = METADATA.github.repo

const download_stats = await fetchPyPIDownloadStats(METADATA.package.name.toLowerCase());
const n_downloads_last_month = download_stats.data.last_month
const github_stats = await fetchGitHubStats(github_org, github_repo);

import type { ImageMetadata } from 'astro';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/**/*.{jpeg,jpg,png,gif}')

---
<!-- image={{ src: '~/assets/images/hero-image.png', alt: 'Hero Image' }} -->

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started (Basic)',
        href: 'https://edsbook.org/notebooks/gallery/67a1e320-7c47-4ea9-8df8-e868326bc90b/notebook',
        target: '_blank',
        icon: 'tabler:external-link-off',
      },
      {
        variant: 'primary',
        text: 'Get started (Advanced)',
        href: '#repositories',
      },
      { text: 'About', href: '#about-us' },
    ]}
    image='/src/assets/images/hero-image.png'
  >
    <Fragment slot="title">
      <p>AI Powered</p>
      <p>SEA ICE FORECASTS</p>
    </Fragment>
    Researchers at the British Antarctic Survey and the Alan Turing Institute are using the Dawn supercomputer to forecast daily sea ice concentration maps. This step-change in sea ice forecasting ability brings us closer to conservation tools that mitigate risks associated with rapid sea ice loss.

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">IceNet</span> is a free, open-source ecosystem for sea ice forecasting</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">IceNet: Sea-Ice Forecasting.</span>
      <span class="sm:hidden">A Python based ecosystem </span>
      that provides the ability to download, process, train and predict from end to end. <br /> <br />
      Users can interact with IceNet either via the Python interface or via a set of command-line interfaces (CLI)
      which provides a high-level interface.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- About IceNet Widget ***************  -->
  <Hero
    id='about-us'
    tagline="About us"
  >
    <Fragment slot="title">
      About IceNet <br />
    </Fragment>

    <Fragment slot="subtitle">
      <p>
        IceNet is a deep learning sea ice forecasting system developed by an <a class="hyperlink" href="https://www.bas.ac.uk/media-post/artificial-intelligence-to-help-predict-arctic-sea-ice-loss/">international team and led by the British Antarctic Survey and The Alan Turing Institute</a>. The original IceNet research model, published in <a class="hyperlink" href="https://www.nature.com/articles/s41467-021-25257-4"><b>Nature Communications</b></a>, was trained on climate simulations and observational data to forecast the next 6 months of monthly-averaged sea ice concentration maps. This version advanced the range of accurate sea ice forecasts, outperforming a state-of-the-art dynamical model (ECMWF SEAS5) in seasonal forecasts of summer sea ice, particularly for extreme sea ice events.
      </p><br />
      <p>
        Since then, the IceNet team has focused on building an operational version of the model which forecasts on a daily resolution. The <a class="hyperlink" href="https://www.github.com/tom-andersson/icenet-paper">original research code</a> was refactored into <code>icenet</code> - <a class="hyperlink" href="https://github.com/icenet-ai/icenet">a library for operational forecasting</a>. The <code>icenet</code> library can support further research efforts into AI-based operational sea ice forecasting.
      </p><br />
      <p>
        In addition, several use cases and an ecosystem of service components are contained within this organization, supporting execution and downstream analysis.
      </p>
      <p><br />
        For further information about the team involved, please look at the <a class="hyperlink" href="https://www.bas.ac.uk/project/icenet/">project pages at BAS</a> or <a class="hyperlink" href="https://www.turing.ac.uk/news/artificial-intelligence-help-predict-arctic-sea-ice-loss">The Alan Turing Institute</a>.
      </p>
    </Fragment>
  </Hero>


  <!-- IceNet GitHub Repositories Widget ************** -->

  <Features2
    id="repositories"
    title="Repositories"
    subtitle="A subset of the repositories under the IceNet project to get started with."
    tagline="Components"
    items={[
      {
        title: 'icenet-notebooks',
        description: 'A selection of notebooks to get you started with the icenet library and its usage in various contexts, including it’s use as both a CLI (command-line interface) driven tool and API (application programming interface) library for integration into your own code. The notebooks show usage of the other two repositories.',
        link: 'https://github.com/icenet-ai/icenet-notebooks',
        icon: 'tabler:notebook',
      },
      {
        title: 'icenet',
        description:
          'The core IceNet Python library, including source code documentation.',
        link: 'https://github.com/icenet-ai/icenet',
        icon: 'tabler:brand-python',
      },
      {
        title: 'icenet-pipeline',
        description:
          'A high-level end-to-end pipeline from data ingestion through to forecast production and upload. It is built on top of the core icenet Python library.',
          link: 'https://github.com/icenet-ai/icenet-pipeline',
        icon: 'tabler:terminal-2',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <!-- Team Widget *************** -->
  <Team
    id="team"
    title="The IceNet Team"
    subtitle="Collaborators managing various aspects of the project."
    tagline="Team"
    description="The IceNet project is a collaboration between The Alan Turing Institute and British Antarctic Survey. It is made possible thanks to the contributions of many across the environmental research, data science and international sea-ice and ecosystems communities at large. The names here are only those who continually manage the project, but many more have been responsible for the innovation and research that makes IceNet “an infrastructure for the future”!"
    team={
    [
      {
        name: 'Scott Hosking',
        job: 'Principal Investigator',
        description: 'British Antarctic Survey, Alan Turing Institute',
        image: {src: images['/src/assets/images/team/scott-hosking.jpg'](),
                alt: 'Picture of James'
              },
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://scotthosking.com/'
          },
          {
            icon: 'arcticons:bluesky',
            href: 'https://bsky.app/profile/scotthosking.bsky.social'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/scotthosking/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/scotthosking/'
          },
        ],
      },
      {
        name: 'James Byrne',
        job: 'Lead Research Software Engineer',
        description: 'British Antarctic Survey',
        image: {src: images['/src/assets/images/team/james-byrne.jpg'](),
                alt: 'Picture of James'
              },
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://inconsistentrecords.co.uk/'
          },
          {
            icon: 'arcticons:x-twitter',
            href: 'https://twitter.com/jimcircadian'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/jimcircadian/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/jimcircadian/'
          },
        ],
      },
      {
        name: 'Bryn Noel Ubald',
        job: 'Research Software Engineer',
        image: {src: images['/src/assets/images/team/bryn-ubald.jpg'](),
                alt: 'Picture of Bryn'
              },
        description: 'British Antarctic Survey',
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://www.brynnoelubald.com/'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/bryn-noel-ubald/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/bnubald/'
          },
        ],
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Team>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023 and 2024."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 5.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads last month', amount: `${n_downloads_last_month}`},
      { title: 'GitHub Stars', amount: `${github_stats.n_stars}` },
      { title: 'GitHub Forks', amount: `${github_stats.n_forks}` },
      { title: 'GitHub Watchers', amount: `${github_stats.n_watchers}` },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>


<style>
  .hyperlink{
    color: #3366cc;
  }
</style>
