---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Team from '~/components/widgets/Team.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'IceNet — AI powered sea-ice forecasting',
  ignoreTitleTemplate: true,
};

import { METADATA } from 'astrowind:config';
import { fetchPyPIDownloadStats, fetchGitHubStats } from '../utils/custom-utils'

const github_org = METADATA.github.org
const github_repo  = METADATA.github.repo

const download_stats = await fetchPyPIDownloadStats(METADATA.package.name.toLowerCase());
const n_downloads_last_month = download_stats.data.last_month
const github_stats = await fetchGitHubStats(github_org, github_repo);

import type { ImageMetadata } from 'astro';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/**/*.{jpeg,jpg,png,gif}')

---
<!-- image={{ src: '~/assets/images/hero-image.png', alt: 'Hero Image' }} -->

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id='hero'
    actions={[
      {
        variant: 'primary',
        text: 'Get started (Basic)',
        href: 'https://edsbook.org/notebooks/gallery/67a1e320-7c47-4ea9-8df8-e868326bc90b/notebook',
        target: '_blank',
        icon: 'tabler:external-link-off',
      },
      {
        variant: 'primary',
        text: 'Get started (Advanced)',
        href: '#repositories',
      },
      { text: 'About', href: '#about-us' },
    ]}
    image='/src/assets/images/hero-image.png'
  >
    <Fragment slot="title">
      <p>AI Powered</p>
      <p>SEA ICE FORECASTS</p>
    </Fragment>
    Researchers at the British Antarctic Survey and the Alan Turing Institute are using the Dawn supercomputer to forecast daily sea ice concentration maps. This step-change in sea ice forecasting ability brings us closer to conservation tools that mitigate risks associated with rapid sea ice loss.

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">IceNet</span> is a free, open-source ecosystem for sea ice forecasting</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">IceNet: Sea-Ice Forecasting.</span>
      <span class="sm:hidden">A Python based ecosystem </span>
      that provides the ability to download, process, train and predict from end to end. <br /> <br />
      Users can interact with IceNet either via the Python interface or via a set of command-line interfaces (CLI)
      which provides a high-level interface.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- About IceNet Widget ***************  -->
  <Hero
    id='about-us'
    tagline="About us"
  >
    <Fragment slot="title">
      About IceNet <br />
    </Fragment>

    <Fragment slot="subtitle">
      <p>
        IceNet is a deep learning sea ice forecasting system developed by an <a class="hyperlink" href="https://www.bas.ac.uk/media-post/artificial-intelligence-to-help-predict-arctic-sea-ice-loss/">international team and led by the British Antarctic Survey and The Alan Turing Institute</a>. The original IceNet research model, published in <a class="hyperlink" href="https://www.nature.com/articles/s41467-021-25257-4"><b>Nature Communications</b></a>, was trained on climate simulations and observational data to forecast the next 6 months of monthly-averaged sea ice concentration maps. This version advanced the range of accurate sea ice forecasts, outperforming a state-of-the-art dynamical model (ECMWF SEAS5) in seasonal forecasts of summer sea ice, particularly for extreme sea ice events.
      </p><br />
      <p>
        Since then, the IceNet team has focused on building an operational version of the model which forecasts on a daily resolution. The <a class="hyperlink" href="https://www.github.com/tom-andersson/icenet-paper">original research code</a> was refactored into <code>icenet</code> - <a class="hyperlink" href="https://github.com/icenet-ai/icenet">a library for operational forecasting</a>. The <code>icenet</code> library can support further research efforts into AI-based operational sea ice forecasting.
      </p><br />
      <p>
        In addition, several use cases and an ecosystem of service components are contained within this organization, supporting execution and downstream analysis.
      </p>
      <p><br />
        For further information about the team involved, please look at the <a class="hyperlink" href="https://www.bas.ac.uk/project/icenet/">project pages at BAS</a> or <a class="hyperlink" href="https://www.turing.ac.uk/news/artificial-intelligence-help-predict-arctic-sea-ice-loss">The Alan Turing Institute</a>.
      </p>
    </Fragment>
  </Hero>


  <!-- IceNet GitHub Repositories Widget ************** -->

  <Features2
    id="repositories"
    title="Repositories"
    subtitle="A subset of the repositories under the IceNet project to get started with."
    tagline="Components"
    items={[
      {
        title: 'icenet-notebooks',
        description: 'A selection of notebooks to get you started with the icenet library and its usage in various contexts, including it’s use as both a CLI (command-line interface) driven tool and API (application programming interface) library for integration into your own code. The notebooks show usage of the other two repositories.',
        link: 'https://github.com/icenet-ai/icenet-notebooks',
        icon: 'tabler:notebook',
      },
      {
        title: 'icenet',
        description:
          'The core IceNet Python library, including source code documentation.',
        link: 'https://github.com/icenet-ai/icenet',
        icon: 'tabler:brand-python',
      },
      {
        title: 'icenet-pipeline',
        description:
          'A high-level end-to-end pipeline from data ingestion through to forecast production and upload. It is built on top of the core icenet Python library.',
          link: 'https://github.com/icenet-ai/icenet-pipeline',
        icon: 'tabler:terminal-2',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads last month', amount: `${n_downloads_last_month}`},
      { title: 'GitHub Stars', amount: `${github_stats.n_stars}` },
      { title: 'GitHub Forks', amount: `${github_stats.n_forks}` },
      { title: 'GitHub Watchers', amount: `${github_stats.n_watchers}` },
    ]}
  />

  <!-- Team Widget *************** -->

  <Team
    id="team-members"
    title="The IceNet Team"
    subtitle="Collaborators managing various aspects of the project."
    tagline="Team"
    description="The IceNet project is a collaboration between The Alan Turing Institute and British Antarctic Survey. It is made possible thanks to the contributions of many across the environmental research, data science and international sea-ice and ecosystems communities at large. The names here are only those who continually manage the project, but many more have been responsible for the innovation and research that makes IceNet “an infrastructure for the future”!"
    team={
    [
      {
        name: 'Scott Hosking',
        job: 'Principal Investigator',
        description: 'British Antarctic Survey, Alan Turing Institute',
        image: {src: images['/src/assets/images/team/scott-hosking.jpg'](),
                alt: 'Picture of Scott'
              },
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://scotthosking.com/'
          },
          {
            icon: 'arcticons:bluesky',
            href: 'https://bsky.app/profile/scotthosking.bsky.social'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/scotthosking/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/scotthosking/'
          },
        ],
      },
      {
        name: 'James Byrne',
        job: 'Lead Research Software Engineer',
        description: 'British Antarctic Survey',
        image: {src: images['/src/assets/images/team/james-byrne.jpg'](),
                alt: 'Picture of James Byrne'
              },
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://inconsistentrecords.co.uk/'
          },
          {
            icon: 'arcticons:x-twitter',
            href: 'https://twitter.com/jimcircadian'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/jimcircadian/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/jimcircadian/'
          },
        ],
      },
      {
        name: 'Bryn Noel Ubald',
        job: 'Research Software Engineer',
        image: {src: images['/src/assets/images/team/bryn-ubald.jpg'](),
                alt: 'Picture of Bryn'
              },
        description: 'British Antarctic Survey',
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://www.brynnoelubald.com/'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/bryn-noel-ubald/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/bnubald/'
          },
        ],
      },
      {
        name: 'Ellie Bowler',
        job: 'Ecosystems Researcher',
        image: {src: images['/src/assets/images/team/ellie-bowler.jpg'](),
                alt: 'Picture of Ellie'
              },
        description: 'British Antarctic Survey',
        socials: [
          {
            icon: 'arcticons:x-twitter',
            href: 'https://twitter.com/EllieBowler32'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/EllieBowler/'
          },
        ],
      },
      {
        name: 'Tom Andersson',
        job: 'Original ML Researcher',
        image: {src: images['/src/assets/images/team/tom-andersson.jpg'](),
                alt: 'Picture of Tom'
              },
        description: 'Google Deepmind',
        socials: [
          {
            icon: 'arcticons:x-twitter',
            href: 'https://twitter.com/tom_r_andersson'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/tom-andersson/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/tom-andersson/'
          },
        ],
      },
      {
        name: 'James Robinson',
        job: 'Research Software Engineer',
        image: {src: images['/src/assets/images/team/james-robinson.jpg'](),
                alt: 'Picture of James Robinson'
              },
        description: 'Alan Turing Institute',
        socials: [
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/jamesemrobinson/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/jemrobinson/'
          },
        ],
      },
      {
        name: 'Ryan Chan',
        job: 'Research Software Engineer',
        image: {src: images['/src/assets/images/team/ryan-chan.jpg'](),
                alt: 'Picture of Ryan'
              },
        description: 'Alan Turing Institute',
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://rchan26.github.io/'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/ryan-chan-2607/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/rchan26/'
          },
        ],
      },
      {
        name: 'Andrew McDonald',
        job: 'PhD Candidate',
        image: {src: images['/src/assets/images/team/andrew-mcdonald.jpg'](),
                alt: 'Picture of Andrew'
              },
        description: 'University of Cambridge',
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://ampersandmcd.com/'
          },
          {
            icon: 'arcticons:x-twitter',
            href: 'https://twitter.com/ampersandmcd'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/ampersandmcd/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/ampersandmcd/'
          },
        ],
      },
      {
        name: 'Peter Yatsyshin',
        job: 'TRF Research Fellow',
        image: {src: images['/src/assets/images/team/peter-yatsyshin.jpg'](),
                alt: 'Picture of Peter'
              },
        description: 'Alan Turing Institute',
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://www.yatsyshin.com/'
          },
          {
            icon: 'arcticons:google',
            href: 'https://scholar.google.co.uk/citations?hl=en&user=3lNjiWYAAAAJ'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/peter-yatsyshin-phd/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/pyatsysh/'
          },
        ],
      },
      {
        name: 'Alden Conner',
        job: 'Research Application Manager',
        image: {src: images['/src/assets/images/team/alden-conner.jpg'](),
                alt: 'Picture of Alden'
              },
        socials: [
          {
            icon: 'arcticons:x-twitter',
            href: 'https://twitter.com/alden_tweets'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/aldenconner'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/aldenc/'
          },
        ],
      },
      {
        name: 'Luigi Tommaso Luppino',
        job: 'ML Researcher',
        image: {src: images['/src/assets/images/team/luigi-luppino.jpg'](),
                alt: 'Picture of Luigi'
              },
        socials: [
          {
            icon: 'arcticons:earth',
            href: 'https://sites.google.com/view/luppino/home?authuser=0'
          },
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/luigi-tommaso-luppino-337436158/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/llu025/'
          },
        ],
      },
      {
        name: 'Lars Uebbing',
        job: 'PhD Candidate',
        image: {src: images['/src/assets/images/team/lars-uebbing.jpg'](),
                alt: 'Picture of Lars'
              },
        socials: [
          {
            icon: 'arcticons:linkedin',
            href: 'https://www.linkedin.com/in/lars-uebbing-b64662213/'
          },
          {
            icon: 'arcticons:github',
            href: 'https://www.github.com/laueb4818/'
          },
        ],
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Team>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog contains tutorials, and articles on news and impact of IceNet.
                `}
  />


  <!-- Contactus Widget *********** -->

  <CallToAction
    id='contact-us'
  >

    <Fragment slot="subtitle">
      Please contact bryald &lt;at&gt; bas &lt;dot&gt; ac &lt;dot&gt; uk
    </Fragment>
  </CallToAction>
</Layout>

<style>
  .hyperlink{
    color: #3366cc;
  }
</style>
